# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables & secrets
.env
.streamlit/secrets.toml

# IDE & OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
